JpkHelper/Schemas/ITP_v2-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/01/05/eD/DefinicjeTypy/" xmlns:kw="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2021/12/23/eD/KodyWalut/" xmlns:tns="http://itp.mf.gov.pl/wzor/2023/01/09/01091/" targetNamespace="http://itp.mf.gov.pl/wzor/2023/01/09/01091/" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="pl">
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/01/05/eD/DefinicjeTypy/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/01/05/eD/DefinicjeTypy/StrukturyDanych_v10-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2021/12/23/eD/KodyWalut/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2021/12/23/eD/KodyWalut/KodyWalut_v1-0E.xsd"/>
	<xsd:simpleType name="TKodyKrajowUE">
		<xsd:annotation>
			<xsd:documentation>Kody krajów członkowskich Unii Europejskiej, w tym kod dla obszaru Irlandii Północnej</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="AT">
				<xsd:annotation>
					<xsd:documentation>AUSTRIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BE">
				<xsd:annotation>
					<xsd:documentation>BELGIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BG">
				<xsd:annotation>
					<xsd:documentation>BUŁGARIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CY">
				<xsd:annotation>
					<xsd:documentation>CYPR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CZ">
				<xsd:annotation>
					<xsd:documentation>CZECHY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DK">
				<xsd:annotation>
					<xsd:documentation>DANIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EE">
				<xsd:annotation>
					<xsd:documentation>ESTONIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FI">
				<xsd:annotation>
					<xsd:documentation>FINLANDIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FR">
				<xsd:annotation>
					<xsd:documentation>FRANCJA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DE">
				<xsd:annotation>
					<xsd:documentation>NIEMCY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EL">
				<xsd:annotation>
					<xsd:documentation>GRECJA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HR">
				<xsd:annotation>
					<xsd:documentation>CHORWACJA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HU">
				<xsd:annotation>
					<xsd:documentation>WĘGRY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IE">
				<xsd:annotation>
					<xsd:documentation>IRLANDIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IT">
				<xsd:annotation>
					<xsd:documentation>WŁOCHY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LV">
				<xsd:annotation>
					<xsd:documentation>ŁOTWA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LT">
				<xsd:annotation>
					<xsd:documentation>LITWA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LU">
				<xsd:annotation>
					<xsd:documentation>LUKSEMBURG</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MT">
				<xsd:annotation>
					<xsd:documentation>MALTA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NL">
				<xsd:annotation>
					<xsd:documentation>HOLANDIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PL">
				<xsd:annotation>
					<xsd:documentation>POLSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PT">
				<xsd:annotation>
					<xsd:documentation>PORTUGALIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RO">
				<xsd:annotation>
					<xsd:documentation>RUMUNIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SK">
				<xsd:annotation>
					<xsd:documentation>SŁOWACJA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SI">
				<xsd:annotation>
					<xsd:documentation>SŁOWENIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ES">
				<xsd:annotation>
					<xsd:documentation>HISZPANIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SE">
				<xsd:annotation>
					<xsd:documentation>SZWECJA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XI">
				<xsd:annotation>
					<xsd:documentation>IRLANDIA PÓŁNOCNA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TNrVatUE">
		<xsd:annotation>
			<xsd:documentation>Numer Identyfikacyjny VAT kontrahenta UE</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(\d|[A-Z]|\+|\*){1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TNaglowek">
		<xsd:sequence>
			<xsd:element name="KodFormularza">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TKodFormularza">
							<xsd:attribute name="kodSystemowy" type="xsd:string" use="required" fixed="ITP (2)"/>
							<xsd:attribute name="wersjaSchemy" type="xsd:string" use="required" fixed="2-2"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WariantFormularza">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CelZlozenia" type="etd:TCelZlozenia"/>
			<xsd:element name="DataWytworzenia">
				<xsd:annotation>
					<xsd:documentation>Data i czas wytworzenia informacji</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="etd:TDataCzas">
						<xsd:minInclusive value="2023-01-01T00:00:00Z"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="KodUrzedu">
				<xsd:annotation>
					<xsd:documentation>Miejsce składania informacji - Szef KAS</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="0000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Rok">
				<xsd:annotation>
					<xsd:documentation>Rok, którego dotyczy informacja</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="etd:TRok">
						<xsd:minInclusive value="2022"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Miesiac" type="etd:TMiesiac">
				<xsd:annotation>
					<xsd:documentation>Miesiąc, którego dotyczy informacja</xsd:documentation>
				</xsd:annotation>
				<!--Informacje za 2022 rok należy składać począwszy od lipca-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TKodFormularza">
		<xsd:annotation>
			<xsd:documentation>Symbol wzoru formularza</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ITP"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TKwotowy">
		<xsd:annotation>
			<xsd:documentation>Wartość numeryczna 18 znaków max, w tym 2 znaki po przecinku</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TZnakowyITP">
		<xsd:annotation>
			<xsd:documentation>Typ znakowy ograniczony do 256 znaków</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TKodPocztowyPL">
		<xsd:annotation>
			<xsd:documentation>Kod pocztowy polski</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="etd:TKodPocztowy">
			<xsd:pattern value="[0-9]{2}-[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TNrRBITP">
		<xsd:annotation>
			<xsd:documentation>Numer rachunku bankowego</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9A-Z]{10,32}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TIdentyfikatorOsobyFizycznej">
		<xsd:annotation>
			<xsd:documentation>Podstawowy zestaw danych identyfikacyjnych o osobie fizycznej</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NIP" type="etd:TNrNIP">
				<xsd:annotation>
					<xsd:documentation>Identyfikator podatkowy NIP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ImiePierwsze" type="etd:TImie">
				<xsd:annotation>
					<xsd:documentation>Pierwsze imię</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Nazwisko" type="etd:TNazwisko">
				<xsd:annotation>
					<xsd:documentation>Nazwisko</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Numer identyfikacyjny akceptanta nadany przez agenta rozliczeniowego</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:TZnakowyITP">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MCC" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Czterocyfrowy numer służący do identyfikacji działalności gospodarczej (Merchant Category Code)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="\d{4}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TIdentyfikatorOsobyNiefizycznej">
		<xsd:annotation>
			<xsd:documentation>Dane osoby niefizycznej</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="NIP" type="etd:TNrNIP">
					<xsd:annotation>
						<xsd:documentation>Identyfikator podatkowy NIP</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:sequence>
					<xsd:element name="KodUE" type="tns:TKodyKrajowUE">
						<xsd:annotation>
							<xsd:documentation>Kod (prefiks) VAT UE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="NrVatUE" type="tns:TNrVatUE">
						<xsd:annotation>
							<xsd:documentation>Numer Identyfikacyjny VAT UE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element name="KodKraju" type="etd:TKodKraju" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Kod kraju nadania identyfikatora podatkowego</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="NrTIN">
						<xsd:annotation>
							<xsd:documentation>Identyfikator podatkowy inny</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="etd:TNrIdentyfikacjiPodatkowej">
								<xsd:pattern value="[a-zA-Z0-9]{1,50}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name="Nazwa" type="etd:TZnakowy">
				<xsd:annotation>
					<xsd:documentation>Nazwa/Firma</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="REGON" type="etd:TNrREGON" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Numer REGON</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KRS" type="etd:TNrKRS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Numer Krajowego Rejestru Sądowego</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NrRachunku" type="tns:TNrRBITP" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Numer rachunku agenta rozliczeniowego wykorzystywany w danym miesiącu do dokonywania przelewów na rachunek akceptanta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TIdentyfikatorOsobyNiefizycznej1">
		<xsd:sequence>
			<xsd:element name="NIP" type="etd:TNrNIP">
				<xsd:annotation>
					<xsd:documentation>Identyfikator podatkowy NIP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Nazwa" type="etd:TZnakowy">
				<xsd:annotation>
					<xsd:documentation>Nazwa/Firma</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Numer identyfikacyjny akceptanta nadany przez agenta rozliczeniowego</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:TZnakowyITP">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MCC" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Czterocyfrowy numer służący do identyfikacji działalności gospodarczej (Merchant Category Code)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="\d{4}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TAdresPolskiITP">
		<xsd:annotation>
			<xsd:documentation>Informacje opisujące adres polski - zakres danych dedykowany dla lokalizacji terminali</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KodKraju" type="etd:TKodKraju" fixed="PL">
				<xsd:annotation>
					<xsd:documentation>Kraj</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Wojewodztwo" type="etd:TJednAdmin" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Województwo</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ulica" type="etd:TUlica" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa ulicy</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NrDomu" type="etd:TNrBudynku">
				<xsd:annotation>
					<xsd:documentation>Numer budynku</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NrLokalu" type="etd:TNrLokalu" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Numer lokalu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Miejscowosc" type="etd:TMiejscowosc">
				<xsd:annotation>
					<xsd:documentation>Nazwa miejscowości</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KodPocztowy" type="tns:TKodPocztowyPL">
				<xsd:annotation>
					<xsd:documentation>Kod pocztowy</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TAdres">
		<xsd:annotation>
			<xsd:documentation>Dane określające adres</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="AdresPol" type="tns:TAdresPolskiITP"/>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="AdresZagr" type="etd:TAdresZagraniczny"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="TOsobaNiefizyczna">
		<xsd:annotation>
			<xsd:documentation>Dane osoby niefizycznej</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OsobaNiefizyczna" type="tns:TIdentyfikatorOsobyNiefizycznej"/>
			<xsd:element name="AdresSiedziby" type="tns:TAdres"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TPodmiotDowolny">
		<xsd:annotation>
			<xsd:documentation>Zestaw danych o osobie fizycznej lub niefizycznej</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:TPodmiotDowolnyBezAdresu">
				<xsd:sequence>
					<xsd:element name="AdresSiedziby" type="tns:TAdres"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TPodmiotDowolnyBezAdresu">
		<xsd:annotation>
			<xsd:documentation>Zestaw danych o osobie fizycznej lub niefizycznej</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="OsobaFizyczna" type="tns:TIdentyfikatorOsobyFizycznej"/>
			<xsd:element name="OsobaNiefizyczna" type="tns:TIdentyfikatorOsobyNiefizycznej1"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="TOsobaNiefizyczna1">
		<xsd:sequence>
			<xsd:element name="OsobaNiefizyczna" type="tns:TIdentyfikatorOsobyNiefizycznej1"/>
			<xsd:element name="AdresSiedziby" type="tns:TAdres"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TData">
		<xsd:annotation>
			<xsd:documentation>Typ daty</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="etd:TData">
			<xsd:minInclusive value="1990-01-01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ITP">
		<xsd:annotation>
			<xsd:documentation>INFORMACJA O TRANSAKCJCH PŁATNICZYCH PRZY UŻYCIU TERMINALI PŁATNICZYCH, OPROGRAMOWANIA LUB SYSTEMU TELEINFORMATYCZNEGO</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Naglowek" type="tns:TNaglowek">
					<xsd:annotation>
						<xsd:documentation>Nagłówek informacji</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Podmiot1" type="tns:TOsobaNiefizyczna">
					<xsd:annotation>
						<xsd:documentation>Dane Agenta rozliczeniowego</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Podmiot2" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Dane Akceptanta oraz dotyczące terminali płatniczych, oprogramowania lub systemu teleinformatycznego</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="tns:TPodmiotDowolny">
								<xsd:sequence>
									<xsd:annotation>
										<xsd:documentation>Dane związane z terminalem płatniczym, oprogramowaniem lub systemem teleinformatycznym</xsd:documentation>
									</xsd:annotation>
									<xsd:element name="AdresTerminala" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Dane dotyczące adresu wykonywania transakcji płatniczych przy użyciu terminala(miejsce)</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:complexContent>
												<xsd:extension base="tns:TAdresPolskiITP">
													<xsd:sequence>
														<xsd:element name="Terminal" maxOccurs="unbounded">
															<xsd:annotation>
																<xsd:documentation>Dane dotyczące terminala płatniczego oraz transakcji płatniczych</xsd:documentation>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="NrTerminala">
																		<xsd:annotation>
																			<xsd:documentation>Numer identyfikacyjny terminala płatniczego</xsd:documentation>
																		</xsd:annotation>
																		<xsd:simpleType>
																			<xsd:restriction base="tns:TZnakowyITP">
																				<xsd:minLength value="8"/>
																				<xsd:maxLength value="8"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:element>
																	<xsd:element name="Rachunek" maxOccurs="unbounded">
																		<xsd:annotation>
																			<xsd:documentation>Dane dotyczące rachunku płatniczego</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element name="NrRachunku" type="tns:TNrRBITP">
																					<xsd:annotation>
																						<xsd:documentation>Numer rachunku akceptanta powiązanego z terminalem płatniczym</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="DataOd" type="tns:TData">
																					<xsd:annotation>
																						<xsd:documentation>Data, od której rachunek akceptanta jest powiązany z terminalem płatniczym</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="DataDo" type="tns:TData" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Data, do której rachunek akceptanta był powiązany z terminalem płatniczym</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="Transakcje" maxOccurs="unbounded">
																					<xsd:annotation>
																						<xsd:documentation>Dane dotyczące transakcji płatniczych akceptanta przy użyciu terminala</xsd:documentation>
																					</xsd:annotation>
																					<xsd:complexType>
																						<xsd:sequence>
																							<xsd:element name="KodWaluty" type="kw:TKodWaluty">
																								<xsd:annotation>
																									<xsd:documentation>Kod waluty transakcji płatniczych</xsd:documentation>
																								</xsd:annotation>
																							</xsd:element>
																							<xsd:element name="LiczbaTransakcji" type="etd:TNaturalny">
																								<xsd:annotation>
																									<xsd:documentation>Liczba transakcji płatniczych zaakceptowanych przez akceptanta</xsd:documentation>
																								</xsd:annotation>
																							</xsd:element>
																							<xsd:element name="WartoscTransakcji" type="tns:TKwotowy">
																								<xsd:annotation>
																									<xsd:documentation>Wartość transakcji płatniczych zaakceptowanych przez akceptanta</xsd:documentation>
																								</xsd:annotation>
																							</xsd:element>
																						</xsd:sequence>
																					</xsd:complexType>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:extension>
											</xsd:complexContent>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="AdresBramki" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Dane dotyczące adresu wykonywania transakcji płatniczych przy użyciu oprogramowania lub systemu teleinformatycznego-bramki płatniczej (siedziba)</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:complexContent>
												<xsd:extension base="tns:TAdres">
													<xsd:sequence>
														<xsd:element name="Bramka" maxOccurs="unbounded">
															<xsd:annotation>
																<xsd:documentation>Dane dotyczące bramki płatniczej oraz transakcji płatniczych</xsd:documentation>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="NrBramki" type="tns:TZnakowyITP">
																		<xsd:annotation>
																			<xsd:documentation>Numer identyfikacyjny bramki płatniczej</xsd:documentation>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="Rachunek" maxOccurs="unbounded">
																		<xsd:annotation>
																			<xsd:documentation>Dane dotyczące rachunku płatniczego</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element name="NrRachunku" type="tns:TNrRBITP">
																					<xsd:annotation>
																						<xsd:documentation>Numer rachunku akceptanta powiązanego z bramką płatniczą</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="DataOd" type="tns:TData">
																					<xsd:annotation>
																						<xsd:documentation>Data, od której rachunek akceptanta jest powiązany z bramką płatniczą</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="DataDo" type="tns:TData" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Data, do której rachunek akceptanta był powiązany z bramką płatniczą</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="Transakcje" maxOccurs="unbounded">
																					<xsd:annotation>
																						<xsd:documentation>Dane dotyczące transakcji płatniczych akceptanta przy użyciu bramki płatniczej</xsd:documentation>
																					</xsd:annotation>
																					<xsd:complexType>
																						<xsd:sequence>
																							<xsd:element name="KodWaluty" type="kw:TKodWaluty">
																								<xsd:annotation>
																									<xsd:documentation>Kod waluty transakcji płatniczych</xsd:documentation>
																								</xsd:annotation>
																							</xsd:element>
																							<xsd:element name="LiczbaTransakcji" type="etd:TNaturalny">
																								<xsd:annotation>
																									<xsd:documentation>Liczba transakcji płatniczych zaakceptowanych przez akceptanta</xsd:documentation>
																								</xsd:annotation>
																							</xsd:element>
																							<xsd:element name="WartoscTransakcji" type="tns:TKwotowy">
																								<xsd:annotation>
																									<xsd:documentation>Wartość transakcji płatniczych zaakceptowanych przez akceptanta</xsd:documentation>
																								</xsd:annotation>
																							</xsd:element>
																						</xsd:sequence>
																					</xsd:complexType>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:extension>
											</xsd:complexContent>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
					<xsd:unique name="klucz_terminal">
						<xsd:selector xpath="*/tns:Terminal/tns:NrTerminala"/>
						<xsd:field xpath="."/>
					</xsd:unique>
				</xsd:element>
				<xsd:element name="Pouczenia">
					<xsd:annotation>
						<xsd:documentation>Pouczenia dla agenta. Wartość 1 oznacza potwierdzenie zapoznania się z treścią i akceptację poniższych pouczeń:
1.	Wypełnianie obowiązków, o których mowa w art. 278b, podlega kontroli wykonywanej przez Szefa Krajowej Administracji Skarbowej. 
								
2.	Zgodnie z treścią przepisu art. 278e ustawy o Krajowej Administracji Skarbowej agent rozliczeniowy, który nie dopełnia obowiązku przekazania Szefowi Krajowej Administracji Skarbowej w terminie określonym w art. 278b ust. 3 i 3a informacji, o której mowa w art. 278b ust. 1, przekazuje tę informację w niepełnym zakresie lub niezgodną z posiadanymi informacjami lub danymi lub niezgodnie z wymaganiami określonymi w art. 49aa ust. 4, podlega karze pieniężnej. Karę pieniężną nadaje Szef Krajowej Administracji Skarbowej w drodze decyzji. Od decyzji przysługuje wniosek o ponowne rozpatrzenie sprawy w terminie 14 dni od dnia jej doręczenia.
</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="etd:TKwota2Nieujemna">
							<xsd:minExclusive value="0"/>
							<xsd:maxExclusive value="2"/>
							<xsd:fractionDigits value="0"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
